# =========================
# IGNORAR PASTAS DE DADOS
# =========================

metadados_completos_sol_sbc_com_idioma_area_introducao_conclusao.csv

Corpus/Falhas/
Corpus/json/
Corpus/markdown/
Corpus/pdfs/

# =========================
# IGNORAR ARQUIVOS GERADOS
# =========================

*.json
*.pdf
*.md

# =========================
# JUPYTER
# =========================

.ipynb_checkpoints/

# =========================
# PYTHON
# =========================

__pycache__/
*.pyc

# =========================
# MANTER NOTEBOOKS E CSV
# =========================

!*.ipynb